.link {
	cursor: pointer;
}

.note-div {
    background-image: url(/client/css/images/note2.png);
    background-repeat: no-repeat;
    height: 146px;
    background-size: 220px 75px;
    padding: 25px 0 0 40px;
}

.note-div input {
    border: none;
    background: transparent;
    width: 150px;
    outline: none;
}

.note-div input-focus {
    border: none;
    outline: none;
}

.task {
	background-color: rgb(255, 255, 111);
}

.sortable {
	cursor: move;
}